<ion-view title="<span class='bby-logo' aria-hidden='true'>Best Buy Logo</span><span class='bby-logo-lite'>Lite</span>">
    <ion-nav-buttons side="right">
        <a href="../logout"><i class="ion-log-out line-height-34 logout-icon" ></i></a>
    </ion-nav-buttons>
    <ion-content has-header="true" padding="true">
        <div class="card">
            <div class="item item-divider">
                Order Confirmation
            </div>
            <div class="item item-text-wrap">
                Your order has been successfully placed. we will send you a push notification(no extra charge) to your mobile whenever there's a update for your order.
                <br><br>Thanks for shopping at Best Buy®. We appreciate your business and look forward to seeing you again soon.
                <br><br>

                <a href="#">Continue shopping</a>
            </div>
        </div>
    </ion-content>
</ion-view>
