<ion-view title="<span class='bby-logo' aria-hidden='true'>Best Buy Logo</span><span class='bby-logo-lite'>Lite</span>">

    <div class="bar bar-subheader item-input-inset">
        <div class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input id="searchKey" type="search" placeholder="Search" ng-model="searchKey" autocorrect="off" >
            <button class="button button-assertive clear-search" ng-click="clearSearch()">X</button>
        </div>
        <button class="button button-positive" ng-click="search()">Search</button>
    </div>
    <ion-content class="has-header has-subheader">
        <div class="dealOfDay" ng-show="dealOfDay != ''">
            <span>{{dealOfDay}}</span>
        </div>
        <ion-list>
            <ion-item ng-repeat="product in products" type="item-text-wrap" class="item-avatar"
                      href="#/products/{{product.skuid}}">
                <img src="{{product.smallimageurl}}" style="border-radius: inherit;"/>
                {{product.productname}}
                <p>{{product.currentprice}}</p>
            </ion-item>
        </ion-list>
        <div class="noResultFound" ng-show="products.length == 0">
            <span>No Result Found</span>
        </div>
    </ion-content>

</ion-view>
