<ion-view title="<span class='bby-logo' aria-hidden='true'>Best Buy Logo</span><span class='bby-logo-lite'>Lite</span>">
    <ion-nav-buttons side="left">
        <button class="button icon-left ion-chevron-left button-dark bby-back-button-width" onclick="window.history.back();return false;">Back</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a href="../logout"><i class="ion-log-out line-height-34 logout-icon" ></i></a>
        <a href="#/order-confirmation?productname={{product.productname}}&price={{product.pricef}}&imagepath={{product.imagepath}}"><button class="button button-balanced line-height-34">Place Order</button></a>
    </ion-nav-buttons>
    <ion-content has-header="true" padding="true">
        <div class="list card">
            <div class="item item-thumbnail-left">
                <img ng-src="{{product.imageurl}}"/>
                <h2 class="wrap-need">{{product.productname}}</h2>
                <p style="margin-top:10px;">Price: ${{product.pricef}}</p>
            </div>

            <div class="item item-body">
                <div class="list">
                    <label class="item item-input item-select">
                        <span class="input-label">Delivery Type</span>
                        <select>
                            <option selected>Store Pickup</option>
                            <option>Shipping</option>
                        </select>
                    </label>
                    <label class="item range">
                        <span class="input-label">Delivery Speed</span>
                        <input type="range" class="rangle-flex-size" name="speed" min="0" max="1000" value="500">
                        <i class="icon ion-speedometer"></i>
                    </label>
                </div>
            </div>
            <div class="item item-divider">
                Billing Address  <a href="" style="margin-left: 20px;" ng-click="modal.show()">Update <i class="icon ion-compose"></i></a>
            </div>
            <ion-list>
                <ion-item ng-repeat="contact in contacts">
                    <label class="item item-input" style="border-color: white;">
                        <span class="input-label">First Name</span>
                        {{contact.firstName}}
                    </label>
                    <label class="item item-input" style="border-color: white;">
                        <span class="input-label">Last Name</span>
                        {{contact.lastName}}
                    </label>
                    <label class="item item-input" style="border-color: white;">
                        <span class="input-label">Email</span>
                        {{contact.email}}
                    </label>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
